@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    background-color: theme('colors.orange') !important;
    color: theme('colors.lightText') !important;
    pointer-events: none;
  }
  .active svg {
    color: currentColor
  }
}

@layer components {
  .non-clickable {
    pointer-events: none;
  }
}

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  overflow-x: hidden;
}